<div class="d-flex justify-content-center flex-column align-items-center">
  <h2 class="short-hr-left">MODIFIE TON PROFIL</h2>

  <div id="contactForm" style="min-width: 30rem">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.text_field :first_name, class: "form-control", autofocus:true, autocomplete: "first-name", placeholder: "Prénom" %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
      <%= f.text_field :last_name, class: "form-control", autocomplete: "last-name", placeholder: "Nom" %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
      <%= f.text_field :username, class: "form-control", autocomplete: "username", placeholder: "Pseudo" %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
      <%= f.email_field :email, class:"form-control", autocomplete: "email", placeholder:"Email" %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>En attente de la confirmation pour <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password", placeholder: "Votre mot de passe actuel" %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
      <i>(Laissez vide si vous ne souhaitez pas le modifier)</i><br />
      <%= f.password_field :password, class:"form-control", autocomplete: "new-password", placeholder: "Nouveau mot de passe" %>
      <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caractères minimum</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", placeholder: "Confirmation du nouveau mot de passe" %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
      <%= f.submit "Modifier", class:"button primary" %>
    </div>

    
  </div>
</div>




<% end %>
