<div class="d-flex justify-content-center flex-column align-items-center">
  <h2 class="short-hr-center">INSCRIPTION</h2>

  <div id="contactForm" class="mb-5" style="min-width: 30rem">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= hidden_field_tag "status_id", Status.first.id %>

    <div class="form-group">
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control", placeholder: "Pseudo*" %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
      <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Email*" %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
      <% if @minimum_password_length %>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Mot de passe* (6 caractères minimum)" %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirmation du mot de passe*" %>
      <div class="help-block with-errors"></div>
    </div>
    <p class="subtle">*Champs obligatoires</p>

    <%= f.button "S'inscrire", class: "button-devise-first", type: "submit" %>
    <% end %>



    <%= render "devise/shared/links" %>
  </div>
</div>
