<p class="">Lien à partager : FILL THIS</p>

<h5>Ajouter un participant :</h5>

<%= form_tag(tictactoe_tictactoe_users_path, method: :post, class:"") do %>
	<%= hidden_field_tag(:tictactoe, @party.id) %>
	<%= select_tag(:participant) %>
	<% @friends.each do |friend| %>
		<%= option_for_select([friend.username, friend]) %>
	<% end -%>
	<%= submit_tag("Ajouter") %>
<% end -%>

<h5>Personnes autorisées à jouer :</h5>
<ul>
	<% @participants.each do |participant| %>
	<li><p><%= participant.user.username %> <% if current_user != participant.user %><%= link_to "Supprimer", tictactoe_tictactoe_users_path(participant.id), method: :delete %> <% end -%> </p></li>
	<% end -%>
</ul>

<%= form_tag(tictactoe_tictacto_path(@party.id), method: :patch, class:"", remote: true) do %>
	<%= hidden_field_tag "status", 1 %>
	<%= submit_tag("Commencer la partie") %>
<% end -%>