<div id="tictactoe-grid" class="m-4">
	<div id="case-1" class="case"><%= @grid.a1 %></div>
	<div id="case-2" class="case"><%= @grid.a2 %></div>
	<div id="case-3" class="case"><%= @grid.a3 %></div>
	<div id="case-4" class="case"><%= @grid.a4 %></div>
	<div id="case-5" class="case"><%= @grid.a5 %></div>
	<div id="case-6" class="case"><%= @grid.a6 %></div>
	<div id="case-7" class="case"><%= @grid.a7 %></div>
	<div id="case-8" class="case"><%= @grid.a8 %></div>
	<div id="case-9" class="case"><%= @grid.a9 %></div>
</div>