<div id="tictactoe-grid">
	<div id="case-1" class="case"><%= @grid.a1 %></div>
	<div id="case-2" class="case"><%= @grid.a2 %></div>
	<div id="case-3" class="case"><%= @grid.a3 %></div>
	<div id="case-4" class="case"><%= @grid.b1 %></div>
	<div id="case-5" class="case"><%= @grid.b2 %></div>
	<div id="case-6" class="case"><%= @grid.b3 %></div>
	<div id="case-7" class="case"><%= @grid.c1 %></div>
	<div id="case-8" class="case"><%= @grid.c2 %></div>
	<div id="case-9" class="case"><%= @grid.c3 %></div>
</div>