<div id="player"><%= @grid.player %></div>
<div id="a1"><%= @grid.a1 %></div>
<div id="a2"><%= @grid.a2 %></div>
<div id="a3"><%= @grid.a3 %></div>
<div id="b1"><%= @grid.b1 %></div>
<div id="b2"><%= @grid.b2 %></div>
<div id="b3"><%= @grid.b3 %></div>
<div id="c1"><%= @grid.c1 %></div>
<div id="c2"><%= @grid.c2 %></div>
<div id="c3"><%= @grid.c3 %></div>
