<div id="player"><%= @grid.player %></div>
<div id="a1"><%= @grid.a1 %></div>
<div id="a2"><%= @grid.a2 %></div>
<div id="a3"><%= @grid.a3 %></div>
<div id="b1"><%= @grid.a4 %></div>
<div id="b2"><%= @grid.a5 %></div>
<div id="b3"><%= @grid.a6 %></div>
<div id="c1"><%= @grid.a7 %></div>
<div id="c2"><%= @grid.a8 %></div>
<div id="c3"><%= @grid.a9 %></div>
