<div id="game-board" class="d-flex justify-content-center">
	<div style="display: none;" id="party-id"><%= @party.id %></div>
	<div style="display: none;" id="player"><%= @user_participation.player %></div>
	<div style="display: none;" id="user"><%= current_user %></div>
<% 
case @party.status
when "1" %>
<%=	render 'init' %>
<% when "2" %>
<%=	render 'party' %>
<% when "3" %>
<%=	render 'ended' %>
<% else

end
%>
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "tictactoe/show" %>
<% end %>
<script type="text/javascript">
	function changeStatus(status){
	$gameBoard.empty();
	switch(status) {
		case '1' :
		$gameBoard.html('<%= j render "init" %>');
		break;
		case '2' :
		$gameBoard.html('<%= j render "party" %>');
		break;
		case '3' :
		$gameBoard.html('<%= j render "ended" %>');
		break;
	}
}
</script>