<h1>Merci <%= @user.username%></h1>
<p>Toute l'équipe de Ludotopia vous remercie pour votre généreuse donation de : <%= @donation.amount %> € pour le jeu <%= @donation.game.title %>.</p>
<p>Pour votre générosité, vous avez le privilège de passer sous le statut de donateur. Ceci sera visible sur votre profil</p>
<p>Vous pouvez nous rendre visite <%= link_to 'ici', 'https://ludotopia.herokuapp.com' %></p>
<p>Vous pouvez nous suivre sur <%= link_to 'Facebook', 'https://www.facebook.com/Ludotopia-258709275039675/' %>, <%= link_to 'Instagram', 'https://www.instagram.com/ludotopiaa/?utm_source=ig_profile_share&igshid=9ii33os76y29&fbclid=IwAR2p8Pu0CZE0I9B1_zSNIllcuTeAkFiYK6RgIBBS-0MWRMkywiMRWBvdFsw' %></p>
