<h1>Merci <%= @user.first_name%></h1>
<p>Toutes l'équipe de Ludotopia te remercie pour ta généreuse donation de : <%= @donation.amount %> € pour le jeu <%= @donation.game %>.</p>
<p>Pour ta générosité, tu as le privilège de passé sous le status de donateur. Ceci sera visible sur ton profile.</p>
<p>Tu peux nous rendre visite <%= link_to 'ici', 'https://ludotopia.herokuapp.com' %></p>
<p>Tu peux nous suivre sur <%= link_to 'Facebook', 'https://www.facebook.com/Ludotopia-258709275039675/' %>, <%= link_to 'Instagram', 'https://www.instagram.com/thprennes7/?hl=fr' %></p>
