<h1>Il y a du nouveau chez Ludotopia</h1>
<p>Bonjour</p>
<p>Voici les dernières nouveautés de la semaine : </p>
<h2><%= @article.title %></h2>
<p><%= @article.description %></p><br>
<p>Tu peux nous rendre visite <%= link_to 'ici', 'https://ludotopia.herokuapp.com' %></p>
<p>Tu peux nous suivre sur <%= link_to 'Facebook', 'https://www.facebook.com/Ludotopia-258709275039675/' %>, <%= link_to 'Instagram', 'https://www.instagram.com/thprennes7/?hl=fr' %></p>
