<div id="banner<%= @banner.id %>" class="p-5 bg-secondary rounded">
  <h3><%= @banner.title %> - n°<%= @banner.id %></h3>
  <div class="row">
    <div class="p-2 col-8">
      <%= form_tag banner_path(@banner.id), method: :put, remote: true, class:"d-flex flex-column mb-3" do%>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= label_tag "title", "Titre" %>
      <%= text_field_tag :title, @banner.title, class:"form-control mb-3" %>
      <%= label_tag "subtitle", "Sous-titre" %>
      <%= text_field_tag :subtitle, @banner.subtitle %>
      <p>Prévisualisation :</p>
      <div id="preview<%= @banner.id %>">
        <div class="jumbotron d-flex justify-content-center flex-column align-items-center" id="banner_custom" style="background: url('<%= url_for(@banner.banner_image) %>'); background-size: cover; background-position: center;">
          <h1 class="display-2"><%= @banner.title %></h1>
          <p class="lead"><%= @banner.subtitle %></p>
        </div>
      </div>

      <%= submit_tag "Mettre à jour", class:"btn btn-info" %>
      <% end %>

      <%= link_to "Supprimer la bannière", banner_path(@banner), method: :delete, remote: true, class:"btn btn-danger", id:"delete#{@banner.id}" %>
    </div>

    <div class="p-2 col-4" id="imageContainer<%= @banner.id %>" style="max-width: 300px;">
      <% if @banner.banner_image.attached? %>
      <%= image_tag @banner.banner_image, alt: "image#{@banner.id}", id: "image#{@banner.id}" %>
      <% end %>

      <%= form_tag banner_banner_images_path(@banner), remote: true, multipart: true, class:"d-flex flex-column" do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= file_field_tag :banner_image, class:"mb-2" %>
      <%= submit_tag "Mettre à jour l'image", class:"btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>
