<% unless user_liked?(current_info) %>
<%= link_to article_like_path(current_info, find_like(current_info)[0]), method: :delete, remote: true do %>
<p class= "btn btn-warning rounded"><%= fa_icon 'thumbs-up' %>
<%= current_info.likes.length %></p>
<% end %>

<% else %>
<%= link_to article_likes_path(current_info), method: :post, remote: true do %>
  <p class= "btn btn-outline-warning rounded"><%= fa_icon 'thumbs-up'%>
  <%= current_info.likes.length %></p>
  <% end %>
  <% end %>
