<!-- Game Card -->
<div class="row game-card pc">
  <div class="col-lg-12 col-xl-5 game-card-left">
    <a href="<%= image_url("game_large.jpg")%>" data-lightbox="screenshots_aurora">
      <div class="overlay">
        <i class="fa fa-picture-o fa-3x"></i>
      </div>
      <picture>
        <source media="(min-width: 1200px)" srcset="<%= image_url("game.jpg")%>">
        <source media="(min-width: 768px)" srcset="<%= image_url("game_large.jpg")%>">
        <img src="<%= image_url("placeholder.jpg")%>" data-src="<%= image_url("placeholder.jpg")%>" class="img-fluid b-lazy" alt="aurora image">
      </picture>
    </a>
    <a href="<%= image_url("game.jpg")%>" data-lightbox="screenshots_aurora"></a>
    <a href="<%= image_url("game_large.jpg")%>" data-lightbox="screenshots_aurora"></a>
    <a href="<%= image_url("game_large.jpg")%>" data-lightbox="screenshots_aurora"></a>
  </div>
  <div class="col-lg-12 col-xl-7 game-card-right">
    <h2 class="short-hr-left"><%= info.title %></h2>
      <p class="game-description"><%= strip_tags(markdown(info.description)[0..50]) + "..."%><span class="expand colored strong" data-toggle="modal" data-target="#<%= info.id + info.created_at.day %>">Voir plus</span></p>
        <div class="reviews d-flex align-items-baseline">
          <!-- condition to see the number of comments of the article-->
          <% if info.class == Article %>
          <div class="score-card">
          <p class="score" id="score<%= info.id %>"><%= fa_icon "thumbs-up" %> <%= info.likes.length %></p>
            </div>
          <div class="score-card">
            <p class="score"><%= find_comment(info).length %></p>
            <p>Commentaire<%if find_comment(info).length > 1 %>s<% end %> </p>
        </div>
          <% end %>
          <% if info.class == Game %>
          <a href="#"><div class="score-card">
            <p class="score">8.5</p>
            <p>Gamespot</p>
          </div></a>
          <a href="#"><div class="score-card">
            <p class="score">8.1</p>
            <p>IGN</p>
          </div></a>
          <a href="#"><div class="score-card">
            <p class="score">83</p>
            <p>Metacritic</p>
          </div></a>
          <% end %>
        </div>
      </div>
      <!-- Modal -->
      <%= render partial: 'shared/card_modal', locals: {current_info: info} %>
    </div>
    <!-- Game Card End -->
