<div class="modal fade game-modal" id="<%= current_info.id + current_info.created_at.day %>" tabindex="-1" role="dialog" aria-labelledby="aurora" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="aurora"><%= current_info.title %></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if current_info.image.attached? %>
        <%= image_tag current_info.image, alt: "#{current_info.title}", class: "modal-vid"  %>
        <% end %>
        <%= check_h2(markdown(current_info.description)).html_safe %>
      </div>
      <div class="modal-body">
        <!-- condition to write a comment on an article -->
        <% if current_info.class == Article %>
        <!-- add comment form -->
          <% if user_signed_in? %>
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-12" id="contactForm">
                <%= form_tag(article_comments_path(current_info), method: :post, remote: true, class: "d-flex flex-column") do %>
                <%= hidden_field_tag "user_id", current_user.id %>
                <%= text_area_tag 'description', "", placeholder: "Votre commentaire...", row: "3", class: "form-control"%>
                <%= button_tag "Envoyer", class: "button primary text-align-right" %>
                <% end %>
              </div>
            </div>
          </div>
          <% else %>
          <p><%= link_to 'Connectez-vous', new_user_session_path %> pour laisser un commentaire</p>
          <% end %>
        <!-- display to see like -->
          <% if user_signed_in? %>
            <% unless user_liked?(current_info) %>
            <p><%= link_to article_like_path(current_info, find_like(current_info)[0]), method: :delete, remote: true do %>
              <% fa_icon 'thumbs-up' %>
            <% end %>
            <% else %>
            <p><%= link_to article_likes_path(current_info), method: :post, remote: true do %>
              <% fa_icon 'thumbs-up' %>
            <% end %>
            <% end %>
          <% else %>
            <%= fa_icon "thumbs-up" %>
          <% end %>
          <%= find_like(current_info).length %></p>
          <!-- display to see comments -->
          <% current_info.comments.each do |comment| %>
            <%= render partial: 'comment', locals: {comment: comment} %>
          <% end %>
        <% end %>
      </div>

      <div class="modal-footer">
        <!-- condition to join a game -->
        <% if current_info.class == Game %>
          <%= link_to "Jouer", current_info.link, class: "button primary" %>
        <% end %>
      </div>
      <button type="button" class="button secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
