<!-- /// CONTACT SECTION /// -->
<div class="container">
    <div id="contact" class="">
        <div class="row heading tiny-margin">
            <div class="col-md-auto">
                <h1 class="animation-element slide-down">CONT<span class="colored">ACT</span></h1>
            </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="">
                <div class="row small-margin">
                    <div class="col-md-11">
                        <p>Pour tous renseignement ou question, concernant le site internet, les actualités que nous partageons ou les jeux que nous vous proposons. N’hésitez pas à nous contactez à l’aide du formulaire ci-dessous, nous vous répondrons dans les plus brefs délais.  </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="short-hr-left">NOUS ENVOYER UN MESSAGE</h2>
                        <div id="contactForm">
                            <%= form_tag supports_path, method: :post do %>

                            <div class="form-group">
                                <!-- Name Field -->
                            <%= text_field_tag :last_name, nil, placeholder:"Nom*"%>

                            </div>
                            <div class="form-group">
                                <!-- Email Field -->
                            <%= text_field_tag :email, nil, placeholder:"Email*"%>

                            </div>
                            <div class="form-group">
                                <!-- Title Field -->
                            <%= text_field_tag :title, nil, placeholder:"Titre*"%>

                            </div>
                            <div class="form-group">
                                <!-- Message Field -->
                                <%= text_area_tag :description, nil, placeholder:"Message*"%>
                                <p class="subtle">*Champs obligatoire</p>

                                <!-- Submit Button -->
                                <%= button_tag "ENVOYER UN MESSAGE", class:"button-devise-first", type:"submit" %>
                                <% end %>
                                <!-- Success Message -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="short-hr-left">AUTRES DÉTAILS</h2>
                        <div id="contact-info">
                            <ul>
                                <li><i class="fa fa-phone rounded"></i><p>Téléphone: <span class="colored">0652760097</span></p></li>
                                <li><i class="fa fa-envelope rounded"></i><p>Email: <span class="colored">thprennes7@gmail.com</span></p></li>
                                <li><i class="fa fa-map-marker rounded"></i><p>Adresse: <span class="colored">18 Rue Saint Michel, 35000 Rennes</span></p></li>
                            </ul>
                        </div>
                        <!-- Google Map -->
                        <div id="map-canvas" class="rounded"></div>
                    </div>
                </div>
        </div>
    </div><!-- Main Container End -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB64kJJiSynOc9ZqkNMOyl94cvsw5Z2uno"></script>
    <div style="visibility:hidden"><%= image_tag "map_marker.png", alt:"ybo_img" %></div>
    <%= content_for :javascript_includes do %>
        <%= javascript_include_tag 'googleMap' %>
    <% end -%>
</div>
