<!-- Game Card -->
                <div class="row game-card pc">
                    <div class="col-lg-12 col-xl-5 game-card-left">
                        <a href="images/game_large.jpg" data-lightbox="screenshots_aurora">
                            <div class="overlay">
                                <i class="fa fa-picture-o fa-3x"></i>
                            </div>
                            <picture>
                                <source media="(min-width: 1200px)" srcset="<%= image_url("game.jpg")%>">
                                <source media="(min-width: 768px)" srcset="<%= image_url("game_large.jpg")%>">
                                <img src="<%= image_url("placeholder.jpg")%>" data-src="<%= image_url("placeholder.jpg")%>" class="img-fluid b-lazy" alt="aurora image"> 
                            </picture>
                        </a>
                        <a href="<%= image_url("game_large.jpg")%>" data-lightbox="screenshots_aurora"></a>
                        <a href="<%= image_url("game_large.jpg")%>" data-lightbox="screenshots_aurora"></a>
                    </div>
                    <div class="col-lg-12 col-xl-7 game-card-right">
                        <h2 class="short-hr-left">AURORA AWAKENING</h2>
                        <p class="tags"><span class="subtle">Action RPG | PC</span> </p>
                        <p class="game-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis rhoncus nibh. Phasellus dignissim luctus consectetur. Fusce viverra est non purus ultrices, vel molestie massa tincidunt. <span class="expand colored strong" data-toggle="modal" data-target="#game3">Read More</span></p>
                        <div class="steam-btn">
                            <a href="#">
                                <i class="fa fa-steam fa-3x"></i>
                                <p>GET IT ON <br><span class="spaced">STEAM</span></p>
                            </a>
                        </div>
                        <div class="reviews">
                            <a href="#"><div class="score-card">
                                <p class="score">8.5</p>
                                <p>Gamespot</p>
                            </div></a>
                            <a href="#"><div class="score-card">
                                <p class="score">8.1</p>
                                <p>IGN</p>
                            </div></a>
                            <a href="#"><div class="score-card">
                                <p class="score">83</p>
                                <p>Metacritic</p>
                            </div></a>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade game-modal" id="game3" tabindex="-1" role="dialog" aria-labelledby="aurora" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="aurora">AURORA AWAKENING</h1>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                               <div class="modal-body">
                                   <iframe class="modal-vid" src="https://www.youtube.com/embed/DPBW_MFqeRs?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                   <h2 class="short-hr-left">EXPLORE AN EXPANSIVE WORLD</h2>
                                   <p>Integer eget diam felis. Quisque et aliquet lectus, et lacinia turpis. Praesent eget pretium orci. Sed vestibulum rutrum volutpat. Curabitur feugiat arcu odio, quis convallis eros laoreet ac.</p>
                                   <img class="img-fluid" src="images/game_large.jpg" alt="screenshot">
                                   <br>
                                   <h2 class="short-hr-left">ADAPT AND DEVELOP YOUR CHARACTER</h2>
                                   <p>Suspendisse ultricies, dui vitae convallis blandit, ipsum sem mattis diam, in egestas arcu lacus sed lectus. Donec at interdum tellus. Quisque pellentesque a felis et rutrum. Donec condimentum magna sit amet viverra convallis. Fusce accumsan efficitur orci a commodo.</p>
                                   <img class="img-fluid" src="images/game_large.jpg" alt="screenshot">
                                   <br>
                                   <h2 class="short-hr-left">GET IMMERSED IN A DEEP STORY</h2>
                                   <p>Mauris at sapien nibh. Integer id tellus vitae ante cursus pharetra. Vestibulum ultrices eleifend enim, quis maximus nibh dapibus in. Phasellus lacinia nec leo at semper. Duis nisl odio, lacinia quis dui at, pretium tincidunt metus. Maecenas condimentum purus sit amet neque maximus tempor. Proin eros massa, ullamcorper eget rutrum eu, feugiat id purus.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="button secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                     </div>
                </div><!-- Game Card End -->