
        <!-- /// TEAM SECTION /// -->
    <div class="container">
        <div id="team" class="mb-5">
            <a href="team"></a><!-- Nav Anchor -->
            <div class="row heading tiny-margin">
                <div class="col-md-auto">
                    <h1 class="animation-element slide-down">L'EQUI<span class="colored">PE</span></h1>
                </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-11 mb-5">
                    <p>Une équipe de passionés. Là pour vous servir.</p>
                </div>
                <div id="full-row" class="row text-center">
                    <div class="col-md-4 team-card">
                        <figure>
                            <img src="<%= image_url("download.jpg")%>" data-src="<%= image_url("download.jpg")%>" class="img-fluid b-lazy" alt="teammember">
                            <figcaption class="team-caption">
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
                                <hr class="hr-short">
                            </figcaption>
                        </figure>
                        <p class="team-name">Guillaume Z.</p>
                        <p class="subtle">Designer / Back Prog.</p>
                    </div>
                    <div class="col-md-4 team-card">
                        <figure>
                            <img src="<%= image_url("download.jpg")%>" data-src="<%= image_url("download.jpg")%>" class="img-fluid b-lazy" alt="teammember">
                            <figcaption class="team-caption">
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
                                <hr class="hr-short">
                            </figcaption>
                        </figure>
                        <p class="team-name">Salomé M.</p>
                        <p class="subtle">Full Stack Dev.</p>
                    </div>
                    <div class="col-md-4 team-card">
                        <figure>
                            <img src="<%= image_url("download.jpg")%>" data-src="<%= image_url("download.jpg")%>" class="img-fluid b-lazy" alt="teammember">
                            <figcaption class="team-caption">
                                <p>“Si t'y arrive pas, fais une boucle !”</p>
                                <hr class="hr-short">
                            </figcaption>
                        </figure>
                        <p class="team-name">Florian E.</p>
                        <p class="subtle">Game Dev / Full Stack Dev.</p>
                    </div>
                    <div class="col-md-4 team-card">
                        <figure>
                            <img src="<%= image_url("download.jpg")%>" data-src="<%= image_url("download.jpg")%>" class="img-fluid b-lazy" alt="teammember">
                            <figcaption class="team-caption">
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
                                <hr class="hr-short">
                            </figcaption>
                        </figure>
                        <p class="team-name">Samir K.</p>
                        <p class="subtle">Community M. / Redactor <br> Dès que nous naissons, nous pleurons d'être venus sur ce grand théâtre de fous.</p>
                    </div>
                    <div class="col-md-4 team-card">
                        <figure>
                            <img src="<%= image_url("download.jpg")%>" data-src="<%= image_url("download.jpg")%>" class="img-fluid b-lazy" alt="teammember">
                            <figcaption class="team-caption">
                                <p>“La Bretagne m'a rendu alcoolique.”</p>
                                <hr class="hr-short">
                            </figcaption>
                        </figure>
                        <p class="team-name">Yann B.</p>
                        <p class="subtle">Full Stack Dev.</p>
                    </div>
                    <div class="col-md-4 team-card">
                        <figure>
                            <img src="<%= image_url("download.jpg")%>" data-src="<%= image_url("download.jpg")%>" class="img-fluid b-lazy" alt="teammember">
                            <figcaption class="team-caption">
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
                                <hr class="hr-short">
                            </figcaption>
                        </figure>
                        <p class="team-name">Aurélien D.</p>
                        <p class="subtle">Full Stack Dev.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
