
        <!-- /// TEAM SECTION /// -->
    <div class="container">
        <div id="team" class="mb-5">
            <a href="team"></a><!-- Nav Anchor -->
            <div class="row heading tiny-margin">
                <div class="col-md-auto">
                    <h1 class="animation-element slide-down">L'EQUI<span class="colored">PE</span></h1>
                </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-11 mb-5">
                    <p> Nous sommes l’équipe Rennes de la formation The Hacking Project session 7, une formation qui nous apprend les bases du développement web en 3 mois. La formation se déroule du lundi au vendredi dans des lieux que nous décidons avec l’équipe. Pendant 3 mois nous avons dû faire un projet par jour dont 2 projets notés chaque semaine. <br> Dans le cadre de notre projet de fin de formation nous devions faire un site web de notre choix qui englobe à peu près tous ce que l’on a appris durant ces 3 mois. <br>  <br> Voici donc la team qui a créé Ludopia !  </p>

                </div>
                <div id="full-row" class="row text-center">
                    <div class="col-md-4 team-card">
                        <figure>
                          <% if guillaume != nil && guillaume.ludo_image.attached? %>
                          <%= image_tag guillaume.ludo_image, class: "img-fluid b-lazy", alt: "teammember" %>
                          <% end %>
                            <figcaption class="team-caption">
                                <p>“À l'occasion, je vous mettrai un petit coup de polish...”</p>
                                <hr class="hr-short">
                            </figcaption>
                        </figure>
                        <p class="team-name">Guillaume Z.</p>
                        <p class="subtle">Moussaillon</p>
                    </div>
                    <div class="col-md-4 team-card">
                        <figure>
                          <% if salome != nil && salome.ludo_image.attached? %>
                          <%= image_tag salome.ludo_image, class: "img-fluid b-lazy", alt: "teammember" %>
                          <% end %>
                            <figcaption class="team-caption">
                                <p>“C'est une bonne situtation ça scribe ?”</p>
                                <hr class="hr-short">
                            </figcaption>
                        </figure>
                        <p class="team-name">Salomé M.</p>
                        <p class="subtle">Moussaillon</p>
                    </div>
                    <div class="col-md-4 team-card">
                        <figure>
                          <% if florian != nil && florian.ludo_image.attached? %>
                          <%= image_tag florian.ludo_image, class: "img-fluid b-lazy", alt: "teammember" %>
                          <% end %>
                            <figcaption class="team-caption">
                                <p>“Si t'y arrives pas, fais une boucle !”</p>
                                <hr class="hr-short">
                            </figcaption>
                        </figure>
                        <p class="team-name">Florian E.</p>
                        <p class="subtle">Moussaillon</p>
                    </div>
                    <div class="col-md-4 team-card">
                        <figure>
                          <% if samir != nil && samir.ludo_image.attached? %>
                          <%= image_tag samir.ludo_image, class: "img-fluid b-lazy", alt: "teammember" %>
                          <% end %>
                            <figcaption class="team-caption">
                                <p>"Grand est celui qui n'a pas perdu son cœur d'enfant."</p>
                                <hr class="hr-short">
                            </figcaption>
                        </figure>
                        <p class="team-name">Samir K.</p>
                        <p class="subtle">Moussaillon</p>
                    </div>
                    <div class="col-md-4 team-card">
                        <figure>
                          <% if yann != nil && yann.ludo_image.attached? %>
                          <%= image_tag yann.ludo_image, class: "img-fluid b-lazy", alt: "teammember" %>
                          <% end %>
                            <figcaption class="team-caption">
                                <p>“Ce n’est pas parce que l’on fait des choses sérieuses, qu’il faut se prendre au sérieux.”</p>
                                <hr class="hr-short">
                            </figcaption>
                        </figure>
                        <p class="team-name">Yann B.</p>
                        <p class="subtle">Moussaillon</p>
                    </div>
                    <div class="col-md-4 team-card">
                        <figure>
                          <% if aurelien != nil && aurelien.ludo_image.attached? %>
                          <%= image_tag aurelien.ludo_image, class: "img-fluid b-lazy", alt: "teammember" %>
                          <% end %>
                            <figcaption class="team-caption">
                                <p>“Faut savoir se faire plaisir, surtout quand on est le patron.”</p>
                                <hr class="hr-short">
                            </figcaption>
                        </figure>
                        <p class="team-name">Aurélien D.</p>
                        <p class="subtle">Moussaillon</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
