<!--ybo: test render for integration -->
  <%= render 'loading' %>
  <%= render 'navbar' %>
  <%= render 'particule' %>
  <%= render 'ABOUT' %>
  <%= render 'games' %>

  <div class="container">
    <%= render 'TEAM' %>
    <%= render 'HIRING' %>  
    <%= render 'CONTACT' %>
  </div> 
  <%= render 'footer' %>

