<!--ybo: test render for integration -->
  <%= render 'loading' %>
  <%= render 'navbar' %>
  <%= render 'particule' %>
  <%= render 'card1' %>
  
  <%= render 'games' %>
  <div class="container">
    <%= render 'team' %>
    <%= render 'hiring' %>  
    <%= render 'contact' %>
  </div> 
  <%= render 'footer' %>

