<div class="row">
	<div class="col-sm-6">
		<h2 class="short-hr-left">Ajouter un amis.</h2>
		<%= form_tag contacts_path, remote: true do |f| %>
			<%= label_tag :user, "Utilisateurs : " %>
			<%= text_field_tag :user, nil, list:'pseudos' %>
			<datalist id="pseudos">
				<% @users.each do |user| %>
					<option value="<%= user.username %>"></option>
				<% end -%>				
			</datalist>
			<%= submit_tag "Ajouter" %>
		<% end -%>
	</div>
	<div class="col-sm-6">
		<h2 class="short-hr-left">Liste d'amis.</h2>
		<ul class="list-group list-group-flush" id="friend-list">
			<% @friends.each do |friend| %>
				<li class="list-group-item" style="background: none;"><%= friend.friend.username %></li>
			<% end %>
		</ul>
	</div>
</div>