<div class="container">
    <div id="contact" class="large-margin">
        <div class="row heading tiny-margin">
            <div class="col-md-auto">
                <h1 class="animation-element slide-down">Dona<span class="colored">tion</span></h1>
            </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="">
                <div class="row small-margin">
                    <div class="col-md-11">
                        <p>Ici vous pouvez soutenir les développeurs des jeux de société que nous hébergeons. Développer un jeu ou une application peux vite prendre du temps, et es souvent coder par des petits groupes de personne qui cherche à se lancer. N’hésitez pas à soutenir les projets que vous préférez.</p>
                    </div>

                    <div id="contactForm">
                    <%= form_tag donations_path do %>
                    <div id="error_explanation">
                      <% if flash[:error].present? %>
                        <p><%= flash[:error] %></p>
                      <% end %>
                    </div>

                    <div class="form-group">
                      <%= text_field_tag :amount, nil, placeholder:"Montant de la donations" %>
                    </div>

                    <div class="form-group">
                      <%= label_tag(:game_id, 'jeu') %>
                      <% @game=Game.all %>
                      <%= select_tag "game_id", options_from_collection_for_select(@game, "id", "title") %>
                    </div>

                    <article>
                      <%= hidden_field_tag(:stripeToken) %>
                    </article>
                    <button  class='button-devise-first' id='donateButton'>Faire un Don</button>
                  <% end %>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>





