<%= form_tag donations_path do %>
  <div id="error_explanation">
    <% if flash[:error].present? %>
      <p><%= flash[:error] %></p>
    <% end %>
  </div>
  <article>
    <%= label_tag(:amount, 'Donation Amount:') %>
    <%= text_field_tag(:amount) %>
  </article>
  <article>
    <%= label_tag(:game_id, 'jeu') %>
    <%= collection_select(:post, :game_id, Game.all, :id, :title, {:prompt => 'Please select a Game'}) %>
  </article>
  <article>
    <%= hidden_field_tag(:stripeToken) %>
  </article>
  <button id='donateButton'>Donate X</button>
<% end %>
