<div class="d-flex justify-content-center flex-column align-items-center">

  <h2 class="short-hr-center">SE CONNECTER</h2>

  <div id="contactForm" style="min-width: 30rem">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Mot de passe" %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="d-flex flex-row justify-content-start">
      <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me, style:"width: auto;" %>
      <%= f.label :se_souvenir_de_moi%>
      <% end %>
    </div>

    <%= f.button "Connexion", class: "button-devise-first", type: "submit" %>
    <% end %>


    <%= render "devise/shared/links" %>
  </div>
</div>
