<div class="card mb-2 bg-secondary rounded">
  <div class="card-header">
    <%= tidy_date(support.created_at)  %>
  </div>
  <div class="card-body">
    <h2><%= support.title %></h2>
    <p><%= support.last_name %></p>
    <p><%= support.email %></p>
    <p><%= truncate(support.description, length: 25, separator: ' ') { link_to "Voir plus", admin_support_path(support) } %></p>
  </div>
  <div class="card-footer">
    <%= link_to "Supprimer", admin_support_path(support), method: :delete, remote: true, data: { confirm: "Supprimer le message n°#{support.id} ?" }, class:"btn btn-danger" %>
  </div>
</div>
