<% @users.each do |user| %>
<% if user.avatar.attached? %>
<%= image_tag user.avatar, alt: "#{user.username}'s  avatar" %>
<% end %>
<ul id="user<%= user.id %>_info" class="list-group m-2">
  <li class="list-group-item">Pseudo : <%= user.username %></li>
  <li class="list-group-item">Prénom : <%= user.first_name %></li>
  <li class="list-group-item">Nom : <%= user.last_name %></li>
  <li class="list-group-item">E-mail : <%= user.email %></li>
  <li class="list-group-item">Status : <%= user.status.name %></li>
</ul>

<% end %>
