<!-- //// HEADER //// -->
<header id="main-header">
  <nav class="navbar navbar-expand-lg navbar-dark w-100" style="<% if current_page?(root_path)  %>position: fixed; top: 0;<% else %>margin-bottom: 3vh;<% end %>">
    <div class="container">
      <!-- Site Logo -->


      <%= link_to root_path do %>
      <div class="logo">
        <%= render 'layouts/svg_logo' %>
      </div>
      <% end -%>
      <!-- Dropdown Button -->
      <button id="hamburger" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Navigation Links -->
      <div class="collapse navbar-collapse align-baseline" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto d-flex align-items-center">
          <% if is_admin?(current_user) %>
          <li>
            <%= link_to "Panel admin", admins_path, class:"nav-link m-0" %>
          </li>
          <% end -%>
          <li class="nav-item">
            <%= link_to "Articles", articles_path, class:"nav-link m-0"%>
          </li>
          <li class="nav-item">
            <%= link_to "Jeux", games_path, class:"nav-link m-0"%>
          </li>   
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle m-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Compte</a>
            <div class="dropdown-menu">
              <% if user_signed_in? %>
              <%= link_to contacts_path do %>
              <p class="dropdown-item colored">Amis</p>
              <% end -%>
              <%= link_to edit_user_registration_path do %>
              <p class="dropdown-item colored">Profil</p>
              <% end -%>
              <%= link_to new_donation_path do %>
              <p class="dropdown-item colored">Donation</p>
              <% end -%>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <p class="dropdown-item colored">Déconnexion</p>
              <% end -%>
              <% else %>
              <%= link_to new_user_registration_path do %>
              <p class="dropdown-item colored">Inscription</p>
              <% end -%>
              <%= link_to new_user_session_path do %>
              <p class="dropdown-item colored">Connexion</p>
              <% end -%>
              <% end -%>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", new_support_path, class:"nav-link m-0"%>
          </li>
          <li class="nav-item">
          <%= link_to "Theme", theme_path, class:"nav-link button primary m-0" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header><!-- Header End -->
