<!DOCTYPE html>
<html>
<head>
  <title>Ludotopia</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all'%>
</head>
<body>
  <%= render 'layouts/loading' %>
  <%= render 'layouts/navbar' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
  <%= render 'layouts/contact' %>
  <%= render 'layouts/footer' %>
  <%= javascript_include_tag 'application'%>
  <%= yield :javascript_includes %>
</body>
</html>
