<!DOCTYPE html>
<html>
<head>
  <title>Ludotopia</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all'%>
</head>
<body>
  <%= render 'layouts/loading' %>
  <%= render 'layouts/navbar' %>

  <p class="notice colored w-100 text-right p-2"><%= notice %></p>
  <p class="alert colored w-100 text-right p-2"><%= alert %></p>

  <main>
  <%= yield %>
  </main>
  <!-- Return to Top -->
  <p id="return-to-top"><%= fa_icon "chevron-up" %></p>
  <%= render 'layouts/footer' %>
  <%= javascript_include_tag 'application'%>
  <%= yield :javascript_includes %>

  <% if controller_name == "donations" %>
  <%= javascript_include_tag 'stripe.js' %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  
  <% end %>

</body>
</html>
